<div class="grid-item form-box 2/5 medium-3/6 tablet-3/5 mobile-1/1 horizontal-center">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-stacked" }) do |f| %>
    <%= devise_error_messages! %>

    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>

    <%= f.label :surname %>
    <%= f.text_field :surname %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <%= f.label :password %>
    <%= f.label :password, "(leave blank if you don't want to change)", class: "extra-label" %>
    <%= f.password_field :password, autocomplete: "off" %>

    <%= f.label :password_confirmation %>

    <% if @minimum_password_length %>
      <%= f.label :password_confirmation, "#{@minimum_password_length} characters minimum", class: "extra-label" %>
    <% end %>

    <%= f.password_field :password_confirmation, autocomplete: "off" %>

    <%= f.label :current_password %>
    <%= f.password_field :current_password, autocomplete: "off" %>

    <div class="btn-container">
      <%= f.submit "Update", class: "btn btn-submit" %>
    </div>
  <% end %>

  <h2>Cancel my account</h2>

  <p>Unhappy?</p>
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
</div>
