<div class="grid-item form-box 2/5 medium-3/6 tablet-3/5 mobile-1/1 horizontal-center">
  <h2>Sign up - it’s free!</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-stacked" }) do |f| %>
    <%= devise_error_messages! %>

    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>

    <%= f.label :surname %>
    <%= f.text_field :surname %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>

    <%= f.submit "Sign up", class: "btn btn-submit" %>
  <% end %>
</div>
