<div class="grid-item form-box 4/5 medium-4/6 tablet-4/5 mobile-1/1 horizontal-center">

  <h1>Tasks in this project
    <a href="<%= new_project_task_path(@project) %>" class="icon-colored icon-btn">
      <i class="fa fa-plus-circle"></i>
    </a>
  </h1>

  <table class="table-hover table-headed">
    <thead>
      <tr>
        <th>Title</th>
        <th>Deadline</th>
        <th>Finished</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.title %></td>
          <td><%= task.due_date %></td>
          <td>
            <% if task.done %>
              <i class="fa fa-check-circle fa-lg icon-colored"></i>
            <% end %>
          </td>
          <td><%= link_to "Details", [task.project, task], class: "btn" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "Back", project_path(@project.id), class: "btn" %>
</div>
