<div class="grid-item form-box 4/5 medium-3/6 tablet-3/5 mobile-1/1 horizontal-center">
<table>
  <thead>
    <tr>
      <th colspan="2">
        <h3>Task details</h3>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><h4>Title</h4></td>
      <td><%= @task.title %></td>
    </tr>
    <tr>
      <td><h4>Description</h4></td>
      <td><%= @task.description %></td>
    </tr>
    <tr>
      <td><h4>Deadline</h4></td>
      <td><%= @task.due_date %></td>
    </tr>
    <tr>
      <td><h4>Status</h4></td>
      <td>
        <% if @task.done %>
          Finished
        <% else %>
          In progress
        <% end %>
      </td>
    </tr>
    <tr>
      <td><h4>Participants</h4></td>
      <td>
        <% if @task.participants.empty? %>
          No participants
        <% else %>
          <ul>
            <% @task.participants.each do |user| %>
              <li> <%= user.name %> <%= user.surname %></li>
            <% end %>
          </ul>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<% unless @task.done %>
  <% if @task.participants.include?(current_user) %>
    <%= link_to "Leave task",
      {
        controller: :user_tasks,
        action: :leave ,
        project_id: @task.project.id,
        id: @task.id
      },
      method: :delete,
      data: { confirm: "Are you sure?" },
      class: "btn" %>
  <% else %>
    <%= link_to "Join task",
      {
        controller: :user_tasks,
        action: :assign ,
        project_id: @task.project.id,
        id: @task.id
      },
      method: :post,
      class: "btn" %>
  <% end %>

  <%= link_to "Edit",
  [:edit, @task.project, @task],
  class: "btn" %>

  <%= link_to "Mark as done",
    {
      controller: :tasks,
      action: :mark_as_done ,
      project_id: @task.project.id,
      id: @task.id
    },
    method: :put,
    data: { confirm: "Are you sure?" },
    class: "btn" %>
<% end %>

<%= link_to "Remove",
  [@task.project, @task],
  method: :delete,
  data: { confirm: "Are you sure?" },
  class: "btn" %>

<%= link_to "Back",
  project_tasks_path(@task.project),
  class: "btn" %>
</div>
