<div class="grid-item form-box 4/5 medium-4/6 tablet-4/5 mobile-1/1 horizontal-center">

  <h1>Events in this project
    <a href="<%= new_project_event_path(@project) %>" class="icon-colored icon-btn">
      <i class="fa fa-plus-circle"></i>
    </a>
  </h1>

  <table class="table-hover table-headed">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.title %></td>
          <td><%= event.date.strftime("%d-%m-%Y %H:%M") %></td>
          <td><%= link_to "Details", [event.project, event], class: "btn" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "Back", @project, class: "btn" %>
</div>
