<div class="grid-item form-box 4/5 medium-4/6 tablet-4/5 mobile-1/1 horizontal-center">

  <h1>Projects
    <a href="<%= new_project_path %>" class="icon-colored icon-btn">
      <i class="fa fa-plus-circle"></i>
    </a>
  </h1>

  <% if !@managed.empty? %>
    <table class="table-hover table-headed">
      <thead>
        <td><h3>Managed</h3></td>
      </thead>
      <tbody>
        <% @managed.each do |project| %>
          <tr>
            <td><%= project.title %></td>
            <td><%= link_to "Details", project, class: "btn" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <% if !@contributed.empty? %>
    <table class="table-hover table-headed">
      <thead>
        <td><h3>Contributed</h3></td>
      </thead>
      <tbody>
        <% @contributed.each do |project| %>
          <tr>
            <td><%= project.title %></td>
            <td><%= link_to "Details", project, class: "btn" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
