<% if policy(@project).modify? %>
  <h3>Add user to the project:</h3>

  <div class="search-user">
    <%= form_tag( users_search_path, method: :get, remote: true ) do %>
      <div class="grid grid-bottom">
        <div class="grid-item 2/3">
          <%= label_tag "name", "Search for a user:" %>
          <%= text_field_tag "name" %>
          <%= hidden_field_tag "id", @project.id %>
        </div>
        <div class="grid-item 1/3">
          <%= submit_tag("Search") %>
        </div>
      </div>
    <% end %>

    <div id="search-result"></div>
  </div>
<% end %>
